/build/
/out/
/.vs/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json
*.jsonl
*.exe
*.obj
*.pdb
*.sys
*.cat
*.cer
*.vcxproj.user
/driver/x64/
/driver/Debug/
/driver/Release/
/driver/obj/
/driver/packages/
/CMakeUserPresets.json
